beautifulsoup4==4.12.3
langchain==0.2.5
langsmith==0.1.52
langchain_community==0.3.27
langchain_openai==0.1.1
openai==1.14.3
protobuf==5.29.6
PyAudio==0.2.14
pyperclip==1.8.2
Requests==2.32.4
rich==13.7.1
sounddevice==0.4.6
SpeechRecognition==3.10.0
toml==0.10.2
python-slugify==8.0.4
Pillow==10.3.0
unicode==2.9
unstructured==0.18.18
chromadb==0.5.0
