beautifulsoup4==4.12.3
langchain==0.1.13
langchain_community==0.0.29
langchain_openai==0.1.1
openai==1.14.3
protobuf==5.26.1
PyAudio==0.2.14
pyperclip==1.8.2
Requests==2.31.0
rich==13.7.1
sounddevice==0.4.6
SpeechRecognition==3.10.0
toml==0.10.2
